<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title or "DocKeeper" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body id="bodyEl" class="min-h-screen bg-gradient-to-br from-gray-50 to-gray-100">

  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
